<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
  <div class="footer">
    <div class="container1">
        <div class="col-md-4">
          <p>&copy; 2021 Company, Inc</p>
        </div>
        <div class="col-md-4 text-center">
          <a href="/" class="link-light">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
        </div>
        <div class="col-md-4 text-right">
          <ul>
            <li class="item"><a href="#navbar">Home</a></li>
            <li class="item"><a href="#navbar">FAQs</a></li>
            <li class="item"><a href="/profile/about/<%= name%>/<%= userId%>">About</a></li>
          </ul>
      </div>
    </div>
  </div>
</body>
</html>
