<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/headerOut.css">
</head>
<body>
  <div class="navigationBar" id="navbar">

    <div class="divLogo">

      <img class="imgLogo" src="/images/logo.png" alt>

      <h3 class="logoText " > ExamEase </h3>
      
        
    </div>

    <div class="divMenu">  
      <a class="btnM" href="/login">Explore</u></a>
      <a class="btnM" href="/login" >Posts</a>
      <a class="btnM" href="/login">Connect</a>
    </div>

    <div class="divProfile">
        <a class="character" href="login">Login</span>
        <a class="profileName" href="/login/signUp">Sign Up</a>
    </div>
</div>
</body>
</html>



